
/* Set a background color for the entire body */
body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background-color: #f0f5f5;
}

/* Style the header with a blue background image */
header {
    background: url(./assets/time.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* Style the h1 heading inside the header */
header h1 {
    color: white; 
    font-size: 3rem; 
}


/* Style the main content container */
.mainContainer {
    background-color: white;
    width: 80%;
    border-radius: 0.7rem;
    position: relative;
    top: -1.5rem;
    padding: 2rem 0;
    margin: 0 auto; 
    height: fit-content; 
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    justify-content: center; 
}

/* Style forms container */
.formsContainer {
    width: 90% !important;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: fit-content;
}

/* Center the form vertically */
form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 0.5rem;
}

/* Style input fields */
input[type="text"] {
    width: 90%;
    padding: 0.7rem;
    border-radius: 0.3rem;
    border: none;
    outline: 0.031rem solid #a3c2c2;
    font-size: larger;
}

/* Change input outline color when in focus */
input[type="text"]:focus {
    outline: 0.031rem solid #ff8533;
}

/* Style form buttons */
.formButtons {
    border: none;
    outline: none;
    background-color: #4775d1;
    background-color: #ff944d;
    padding: 1rem 2.5rem;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem; 
}

.formButtons:hover {
    background: none;
    color: #ff944d;
    outline: 0.031rem solid #ff944d;
}

/* Style edit buttons */
.editButtons {
    display: flex;
    gap: 1rem;
}

/* Style the forms and lists */
.listContainer {
    margin: 0 auto !important;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


/* Style the list items */
li {
    width: 90% !important;
    height: fit-content;
    list-style: none; 
    padding: 1rem;
    border: none; 
    outline: 1px solid #ddd; 
    margin: 5px auto; 
    display: flex;
    justify-content: space-between; 
}

.span {
    width: 60%;
}

.listButtons {
    width: 40%;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}

.listButtons button {
    cursor: pointer;
}

/* Apply 'completed' style to completed tasks */
.completed {
    text-decoration: line-through;
    color: #888;
    background-color: #f0f5f5;
}
